DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=app.counter.dev,localhost,127.0.0.1
INGRESS_SECRET_KEY=change-me-ingress
CORS_ALLOWED_ORIGINS=https://counter.dev,http://localhost:3000
CSRF_TRUSTED_ORIGINS=https://counter.dev,https://app.counter.dev
DEFAULT_FROM_EMAIL=noreply@counter.dev
PASSWORD_RESET_URL_BASE=https://counter.dev/reset
