{% extends "base.html" %}
{% load markdownify static %}

{% block head_css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/markdown.css' %}" />
{% endblock %}


{% block content %}
<section class="page">
  <div class="content">
    <div class="page-wrap bg-white shadow-lg radius-lg markdown-body">
      {%filter markdownify%}{% block page_content %}{% endblock %}{%endfilter%}
    </div>
    <img
      class="page-pic"
      src="/static/{% block image %}{% endblock %}"
      width="350"
      height="441"
      alt=""
    />
  </div>
</section>
{% endblock %}
